{% extends 'base.html.twig' %}

{% block body %}

<h2> {{ serie.name }}</h2>

<span> genre : {{ serie.genre }}</span>
<span> Statut : {{ serie.status }}</span>
<span> {{ serie.firstAirDate|date }}</span>

    <p>{{ serie.overview }}</p>

    <ul>
        {% for season in serie.seasons %}
            <li>Saison {{ season.number }} - {{ season.overview }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('_update',{id : serie.id}) }}">Editer</a>

    <a href="{{ path('_delete', {id: serie.id, token : csrf_token('delete'~serie.id)}) }}"> Supprimer</a>

    <a href="{{ path('season_create') }}">Ajouter une saison</a>

{% endblock %}